body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 450px;
    background: #fff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}


.btn-link {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.btn-large {
    display: block;
    width: 150px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-large:hover {
    background-color: #0056b3;
    transform: translateY(-2px); 
}

.btn-large:active {
    transform: translateY(0); 
}

.btn-link:visited {
    color: inherit; 
}