<!DOCTYPE html>
<html>
<head>
    <title>Вхід\Реєстрація</title>
    <link rel="icon" href="static/uploads/system_icon/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Помічник вчителя інформатики</h1>
        <div style="text-align: center;">
            <a href="/register" class="btn-link">
                <button class="btn-large">Реєстрація</button>
            </a>
            <a href="/login" class="btn-link">
                <button class="btn-large">Вхід</button>
            </a>
        </div>
        
    </div>
</body>
</html>
